In [2]:
import pandas as pd


df = pd.read_csv('Data analysis.csv')


print(df.head())

   Employee_ID           Name  Age Department  Salary Joining_Date  \
0          101       John Doe   28         IT   50000   15-06-2018
1          102     Jane Smith   32         HR   60000   23-09-2016
2          103    Emily Davis   45    Finance   80000   04-11-2012
3          104  Michael Brown   29         IT   55000   12-07-2019
4          105   Chris Wilson   35  Marketing   62000   19-03-2015

            City
0       New York
1    Los Angeles
2        Chicago
3       New York
4  San Francisco

In [3]:
employees = {
    'John': {'age': 54, 'salary': 67000},
    'Jane': {'age': 42, 'salary': 43000},
    'Bob': {'age': 49, 'salary': 55000},
    'Alice': {'age': 57, 'salary': 71000},
    'Mike': {'age': 35, 'salary': 25000}
}

total_age = sum(emp['age'] for emp in employees.values())
total_salary = sum(emp['salary'] for emp in employees.values())
num_employees = len(employees)

average_age = total_age / num_employees
average_salary = total_salary / num_employees

oldest_employee = max(employees, key=lambda name: employees[name]['age'])
youngest_employee = min(employees, key=lambda name: employees[name]['age'])

print(f"Average Age: {average_age:.2f}")
print(f"Average Salary: ${average_salary:,.2f}")
print(f"Oldest Employee: {oldest_employee} (Age: {employees[oldest_employee]['age']})")
print(f"Youngest Employee: {youngest_employee} (Age: {employees[youngest_employee]['age']})")

Average Age: 47.40
Average Salary: $52,200.00
Oldest Employee: Alice (Age: 57)
Youngest Employee: Mike (Age: 35)

In [8]:
import pandas as pd

data = {
    'Department': ['Sales', 'Marketing', 'Sales', 'IT', 'Marketing', 'IT', 'Sales', 'HR'],
    'Employee Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Heidi'],
    'Salary': [50000, 60000, 55000, 70000, 62000, 75000, 53000, 45000]
}
df = pd.DataFrame(data)
df

  Department Employee Name  Salary
0      Sales         Alice   50000
1  Marketing           Bob   60000
2      Sales       Charlie   55000
3         IT         David   70000
4  Marketing           Eve   62000
5         IT         Frank   75000
6      Sales         Grace   53000
7         HR         Heidi   45000

In [9]:
import pandas as pd
from datetime import date

data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Joining Date': ['2020-03-15', '2023-08-20', '2018-01-01', '2024-06-30']
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

Original DataFrame:
  Employee Joining Date
0    Alice   2020-03-15
1      Bob   2023-08-20
2  Charlie   2018-01-01
3    David   2024-06-30

In [12]:
from datetime import datetime

employees = [
    {
        "name": "Alice",
        "employee_id": 101,
        "joining_date": datetime(2013, 5, 15)
    },
    {
        "name": "Bob",
        "employee_id": 102,
        "joining_date": datetime(2016, 8, 20)
    },
    {
        "name": "Charlie",
        "employee_id": 103,
        "joining_date": datetime(2012, 1, 10)
    },
    {
        "name": "David",
        "employee_id": 104,
        "joining_date": datetime(2018, 11, 5)
    },
    {
        "name": "Eve",
        "employee_id": 105,
        "joining_date": datetime(2014, 7, 22)
    },
]

def get_employees_before_2015(employee_list):
    old_employees = []
    for employee in employee_list:
        if employee["joining_date"].year < 2015:
            old_employees.append(employee)
    return old_employees

old_employees = get_employees_before_2015(employees)
print(old_employees)

[{'name': 'Alice', 'employee_id': 101, 'joining_date': datetime.datetime(2013, 5, 15, 0, 0)}, {'name': 'Charlie', 'employee_id': 103, 'joining_date': datetime.datetime(2012, 1, 10, 0, 0)}, {'name': 'Eve', 'employee_id': 105, 'joining_date': datetime.datetime(2014, 7, 22, 0, 0)}]

In [13]:
employees = [
    {"name": "Alice", "salary": 75000},
    {"name": "Bob", "salary": 90000},
    {"name": "Charlie", "salary": 60000},
    {"name": "David", "salary": 110000},
    {"name": "Eve", "salary": 80000},
    {"name": "Frank", "salary": 95000},
    {"name": "Grace", "salary": 120000},
    {"name": "Heidi", "salary": 70000},
    {"name": "Ivan", "salary": 105000},
    {"name": "Judy", "salary": 85000},
]

sorted_employees = sorted(employees, key=lambda employee: employee["salary"], reverse=True)

top_5_employees = sorted_employees[:5]

print("Top 5 Highest-Paid Employees:")
for employee in top_5_employees:
    print(f"Name: {employee['name']}, Salary: ${employee['salary']:,}")

Top 5 Highest-Paid Employees:
Name: Grace, Salary: $120,000
Name: David, Salary: $110,000
Name: Ivan, Salary: $105,000
Name: Frank, Salary: $95,000
Name: Bob, Salary: $90,000

In [14]:
import pandas as pd
import numpy as np

data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)

df.loc[1, 'A'] = np.nan
df.loc[3, 'B'] = np.nan
df.loc[0, 'C'] = np.nan

print("DataFrame with missing values:")
print(df)

DataFrame with missing values:
     A     B     C
0  1.0   6.0   NaN
1  NaN   7.0  12.0
2  3.0   8.0  13.0
3  4.0   NaN  14.0
4  5.0  10.0  15.0

In [15]:

import pandas as pd

modified_employees_df = pd.DataFrame({
    'employee_id': [101, 102, 103],
    'first_name': ['John', 'Jane', 'Peter'],
    'last_name': ['Doe', 'Smith', 'Jones'],
    'department': ['Marketing', 'IT', 'Sales'],
    'salary': [60000, 75000, 80000]
})

modified_employees_df.to_csv('updated_employees.csv', index=False)

print("DataFrame has been successfully saved to 'updated_employees.csv'")

DataFrame has been successfully saved to 'updated_employees.csv'